
[submodule "ViVAGASFrontend"]
	path = ViVAGASFrontend
    	branch = main
	url = https://github.com/LeandraOS/ViVAGASFrontend
[submodule "ViVAGASBackend"]
	path = ViVAGASBackend
    	branch = main
	url = https://github.com/LeandraOS/ViVAGASBackend
