[submodule "frontend"]
	path = frontend
	branch = main
	url = https://github.com/LeandraOS/ViVAGASFrontend

[submodule "backend"]
	path = backend
	branch = main
	url = https://github.com/LeandraOS/ViVAGASBackend

    